.class1{
    padding:90px;
    border:9px solid blue;
    margin:15px;
    background-color: aqua;
}
.class2{
    background-color: tomato;
    padding:60px 20px 40px 10px;
    margin-left: 20px;
    margin-right: 90px;
    border: saddlebrown 29px solid
}


